* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: calc(0.5em + 1vmin);
}

ul{
    text-align: left;
}

li {
    list-style: none;
}

.image {
    position: fixed;
    inset: 0;
    object-fit:cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 1em;
    padding: 1em;
}

.body-container {
    width: 50%;
    margin: auto;
    backdrop-filter: blur(16px);
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    padding: 0.5em 0;
    margin: 0;
}

.search-container {
    font-size: 2rem;
    display: block;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1
}

.search-container * {
    display: inline-block;
    align-items: center;
}

.search-text {
    width: 15em;
    padding: 0.65em;
    border-radius: 0.5em;
    border: 0.1em solid #ccc;
    margin: 0 0.75em;
    background-color: #222;
    color: white;
}

.search-button {
    padding: 0.65em 1.5em;
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #3f51b5;
}

.block {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.sidebar {
    position: relative;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;

}

.sidebar-button {
    width: 10em;
    padding: 1em 1.5em;
    font-size: 1.2rem;
    margin: 1em 0;
    background-color: #3f51b5;
    color: #fff;
    border: 1px solid white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-button:hover {
    background-color: #283593;
    border: none;
}

.cards-list-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    width: 35%;
    color: white;
    font-size: 1.2rem;
    background-color: blueviolet;
    margin: 3rem 3rem;
    height: fit-content; 
}

.card{
    color: white;
    display: block;
    margin: 0.5em;
    border: 2px solid;
    border-radius: 0.1em;
    border-color: rgb(129, 121, 136);
    padding: 1.5em;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    transition: 0.2s;
    position: relative;
}

/*
.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.4);
}


.card:hover::after {
    opacity: 1;
}

.card::after {
    --icon-size: 6rem;
    content: '';
    background-image: url(./assets/person-icon.webp);
    position: absolute;
    width: var(--icon-size);
    height: var(--icon-size);
    top: calc(50% - calc(var(--icon-size) / 2));
    left: calc(50% - calc(var(--icon-size) / 2));
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
}
*/

.card > h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;

}

.card-body {
    padding: 1rem 1rem;
    text-wrap: wrap;
}

.card .toggle-icon {
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    right: 0;
    transition: all 0.3s;
}

.toggle-icon:hover {
    background-color: #283593;
}


.hidden {
    display: none;
}

.residents-table {
    display: block;
    column-gap: 3rem;
    
}

.header-row {
    font-weight: bold;
    background-color: #5c6bc0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



